name : LostArk quant CI/CD

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name : Code Checkout
        uses : actions/checkout@v4
      
      # 도커 허브 로그인
      - name : DockerHub Login
        uses : docker/login-action@v3
        with:
          username : ${{ secrets.DOCKERHUB_USERNAME }}
          password : ${{ secrets.DOCKERHUB_TOKEN }}

      # 이미지 빌드 / 업로드
      - name : Build and Push
        uses : docker/build-push-action@v5
        with :
          context: .
          push : true
          # docker-compose.yaml이랑 이미지 이름 같게
          tags : ${{ secrets.DOCKERHUB_USERNAME }}/lostark_quant:latest

  deploys : 
    needs : build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Connect to AWS / Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu # EC2 유저네임
          key: ${{ secrets.AWS_SSH_KEY }}
          script : |
            # 프로젝트 폴더로 이동 (없으면 생성)
            mkdir -p ~/lostark_quant
            cd ~/lostark_quant
            
            # 서버에 .env파일 넣기
            echo "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" > .env
            echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
            echo "DB_USER=${{ secrets.DB_USER }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
            
            # 서버에 docker-compose.yaml 파일 쓰기
            # EOF 사이의 내용이 서버에 파일로 저장
            cat <<EOF > docker-compose.yaml
            version: "3.8"
            services:
              app:
                image: ${{ secrets.DOCKERHUB_USERNAME }}/lostark_quant:latest
                container_name: lostark-streamlit
                restart: always
                env_file:
                  - .env
                ports:
                  - "80:8501"
            EOF

            # 최신 이미지 가져오기
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/lostark_quant:latest
            sudo docker-compose up -d